* {

}

a {
  color: #fec58b !important;
}

#credits-div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.credit {
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a:hover {
  color: #fec58b !important;
}

a:visited {
  color: #fec58b !important;
}

#headerLeft {
  padding-left: 10px;
  width: 40%;
}

#laban-section {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 10px;
}

#laban-captions {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

#laban-section > img {
  width: 40% !important;
}

#header-title {
  font-size: 60px;
  border-top: solid;
  border-bottom: solid;
  margin-top: 7px;
  margin-bottom: 7px;
}

#header {
  display: inline-flex;
  width: 100%;
  background-color: #191919;
  color: #fec58b;
}

#headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  padding-top: 5px;
  text-align: right;
  margin-right: 20px;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img {
  width: 25% !important;
}

.name {
  font-size: 80px;
}

.intro {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 5%;
}

#intro-right {
  margin-left: 50px;
}

.section {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.section-heading {
  border-top: solid;
}

#quotes > p {
  text-align: center;
}

#references {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#angel-div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#helaman-warriors {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#helaman-warriors > img {
  width: 50% !important;
}



footer {
  height: 90px;
  width: 100%;
  background-color: #191919;
  color: #fec58b;
  margin-top: 80px;
  display: flex;
  text-align: center;
}
